.main_why {
    padding-top: vw(88);
    padding-bottom: vw(88);
    @media all and (max-width: 1023px) {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    &__title {
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(48);
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: vw(32);
        @media all and (max-width: 1023px) {
            margin-bottom: 32px;
            font-size: 32px;
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: vw(-16);
        margin-right: vw(-16);
        @media all and (max-width: 1023px) {
            margin-left: 0;
            margin-right: 0;
            padding: 0;
        }
    }
    &__block {
        width: calc(50% - vw(32));
        margin-left: vw(16);
        margin-right: vw(16);
        border-radius: vw(16);
        background: var(--tcs-a-white, #FFF);
        padding: vw(56);
        margin-bottom: vw(32);
        position: relative;
        overflow: hidden;
        &:nth-child(1) {
            width: 100%;
            .main_why__tit {
                max-width: vw(258);
                @media all and (max-width: 1023px) {
                    max-width: 100%;
                }
            }
            .main_why__text {
                max-width: vw(415);
                @media all and (max-width: 1023px) {
                    max-width: 100%;
                }
            }
            .main_why__bg {
                max-width: vw(411);
                right: vw(150);
                @media all and (max-width: 1023px) {
                    max-width: 80%;
                    right: unset;
                }
            }
        }
        &:nth-child(2) {
            @media all and (max-width: 1023px) {
                .main_why__bg {
                    max-width: 50%;
                }
            }
        }
        &:hover {
            .main_why__bg {
                transform: scale(1.01);
            }
        }
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 32px;
            border-radius: 16px;
            padding: 26px;
            padding-bottom: 0;
        }
    }
    &__tit {
        margin-bottom: vw(24);
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(32);
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        max-width: vw(324);
        width: 100%;
        @media all and (max-width: 1023px) {
            font-size: 24px;
            margin-bottom: 16px;
            max-width: 100%;
        }
    }
    &__text {
        color: var(--Black, #313132);
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(18);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        max-width: vw(340);
        width: 100%;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            max-width: 100%;
            margin-bottom: 20px;
        }
    }
    &__bg {
        font-size: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: vw(215);
        @media all and (max-width: 1023px) {
            max-width: 100%;
            position: unset;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__btn {
        border-radius: 5px;
        background: var(--green, #FF692B);
        color: var(--Black, #fff);
        text-align: center;
        font-family: 'Gilroy', sans-serif, cursive;
        font-size: vw(16);
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
        border: 0;
        line-height: 100%;
        padding: vw(19) vw(41);
        width: 100%;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 19px 35px;
        }
        &:hover {
            background: #fff;
            color: #FF692B;
        }
        &:active {
            background: #D74103;
            color: #fff;
        }
    }
}